body{
    background: rgb(141, 139, 139);
    color: #000;
    margin: 0;
}
.side{
    width: 70px;
    background: #fff;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.para{
    font-weight: 700;
    text-transform: uppercase;
}
.link{
   color: rgb(27, 26, 26);
}
.link:hover{
   color: rgb(27, 26, 26);
}
.active{
    color: #fff;
    background: rgb(44, 44, 44);
    border-radius: 50%;
    padding: 15px;
}
.links{
    margin: 0;
    padding: 0;
}
